---
# This workflow will run the build on Linux.

name: Linux Build

on:
  push:
  pull_request:
    types: [opened]
  schedule:
    - cron: '23 4 5 * *'

jobs:
  build-linux:
    name: Build on Linux

    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [gcc, clang]

    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libx11-dev libxinerama-dev
      - name: Normal Build
        env:
          CC: ${{ matrix.compiler }}
        run: |
          make build
      - name: Pedantic Build
        env:
          CC: ${{ matrix.compiler }}
        run: |
          make clean
          echo 'CFLAGS := -std=c99 -pedantic -Wall -Werror -O2 $(INCS) -DVERSION=\"$(VERSION)\"' >> dwm/config.mk
          echo 'LDFLAGS := $(LIBS)' >> dwm/config.mk
          echo 'CFLAGS := -ansi -pedantic -Wall -Werror -O2 $(INCS) $(CPPFLAGS)' >> dmenu/config.mk
          echo 'LDFLAGS := $(LIBS)' >> dmenu/config.mk
          make build
